*.project
*.classpath
*.factorypath
*.project
*.settings
*.jar
*.bin
*.class
*.class.*
*resolvedMainClassName
*.lock
*.probe
*.properties
*.yml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
